; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = lf
charset = utf-8

[*.{php,json}]
indent_style = space
indent_size = 4

[*.{html,twig}]
indent_style = space
indent_size = 2
